.div1{
    height: 240px;
    width: 240px;
    padding: 20px;
    background-color: green;
    margin-bottom: 30px;
    border: 1px solid black;
}
#para{
    text-align: center;
}
p{
    text-align:center;
    margin-top: 110px;
    font-weight: bolder;
}